.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 3;
  font-family: 'Quicksand', sans-serif;

  .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}